# etc
**/brainstorm.txt

# ignore ALL .log files
*.log

# env
**/conda_env/
**/env/
**/*.env
**/quizzik-env
**/*.ini

# ignore ALL folder in ANY directory named temp
**/temp/

# binaries
**/target/

# ignore anything related to test
test*
**/coverage
**/tests
